
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">
    <h1 class="h1">Welcome "to the" store  </h1>
    <img src="~/css/" />
    <button class="btn btn-danger">ok</button>
    @if (1 > 1)
    {

        <p>The time is : @(3 + 5)</p>
    }
    else
    {
        <p>time to run</p>
    }
</body>

<script src="~/lib/jquery/jquery.js"></script>

</html>
<script>
    $(document).ready(function () {

        alert("Page loaded");
    });


</script>